body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(15 15 15);
    font-family: cambria;
}

#contents{
    background-color: white;
    border-radius: 5%;
    padding: 30px 60px;
    box-shadow: 4px 10px 10px 10px rgb(110, 110, 110);
}

h1 {
    color:white;
}

.timeline {
  position: relative;
  margin-left: 40px;
  padding-left: 20px;
  border-left: 2px solid #000000;
}

.item {
  position: relative;
  margin-bottom: 25px;
  font-size: 16px;
}

.item::before {
  content: "";
  position: absolute;
  left: -27px;
  top: 5px;
  width: 12px;
  height: 12px;
  background-color: black;
  border-radius: 50%;
}


.item::after {
  content: attr(date-date);
  position: absolute;
  left: -80px;
  top: 0;
  font-size: 16px;
  color: #000000;
  
}

.item:hover {
    transform: translateY(-10);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
     box-shadow: 0 10px 20px rgb(30, 159, 245);
     border-radius: 5%;
     padding:4px;
     

}